.commentCard {
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.4);
    width: 1140px;
    margin: auto;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.commentName {
    font-weight: 700;
}

.commentText {
    margin-top: 15px;
    margin-bottom: 15px;
}

.commentTime {
    padding-bottom: 15px;
}

.card-header {
    font-weight: 700;
}

.noComments {
    margin-top: 50px;
}

/* <div className="commentName"><span>{comm.by}</span></div>
<div className="commentText"><span>{comm.text}</span></div>
<div className="commentTime"><span>time: {timeConverter(comm.time)}</span></div> */